---
import Layout from "../layouts/Layout.astro";
import Character from "../components/character.astro";
import CharacterInfo from "../components/characterInfo.astro";

const selectCharacter = (name: string) => `./img/characters/${name}.png`;
---

<Layout title="Mortal Kombat Selector">
  <main
    class="relative flex justify-center items-centertext-center size-full h-screen bg-center bg-cover bg-no-repeat"
    style="background-image: url('./img/background.jpg');"
  >
    <div class="absolute inset-0 bg-black opacity-20 z-0"></div>
    <div class="z-10 w-full">
      <div class="absolute bottom-10 left-10 w-[360px]">
        <img src="./img/mortal_kombat_title.png" alt="" />
      </div>
      <div class="absolute top-10 right-10 w-24">
        <img src="./img/mk_11_logo.png" alt="" />
      </div>
      <section class="w-full flex justify-center relative">
        <div>
          <CharacterInfo
            characterName="Scorpion"
            characterDescription="A resurrected ninja specter, Scorpion is a hellspawned warrior who seeks vengeance against those who wronged him and his clan."
          />
        </div>
        <Character
          characterImg={selectCharacter("scorpion")}
          characterName="Scorpion"
        />
      </section>
    </div>
  </main>
</Layout>
