---
interface Props {
  characterImg: string;
  characterName: string;
}

const { characterImg, characterName } = Astro.props;
---

<div class="h-[600px] mt-6">
  <img
    src={characterImg}
    alt={characterName}
    class="w-full h-full object-contain"
  />
</div>
